In [28]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
from sklearn.linear_model import LinearRegression

In [4]:
pizza = pd.read_csv(r'C:\Users\Administrator.DAI-PC2\Desktop\jupiter_demo\ML\Datasets-20240429T030248Z-001\Datasets\pizza.csv')
pizza

    Promote  Sales
0        23    554
1        56   1339
2        34    815
3        25    609
4        67   1600
5        82   2000
6        46   1000
7        14    300
8         6    150
9        47   1150
10       52   1200
11       88   2000
12       71   1750
13       78   2000
14       66   1500
15       44   1000
16       68   1600
17       90   2000
18       22    550

In [24]:
#This is the same as using linearRegression()

xi = pizza['Promote']
yi = pizza['Sales']

xbar = xi.mean()
ybar = yi.mean()

n = pizza.shape[0]

m_xi_yi = np.mean(xi*yi)
m_xi_2 = np.mean(xi**2)

b1 = (m_xi_yi - (xbar*ybar))/(m_xi_2 - (xbar**2))
b0 = ybar - (b1*xbar)
print(b1,b0)

23.506403021550746 5.485865363253652

In [25]:
df = pd.read_csv(r'C:\Users\Administrator.DAI-PC2\Desktop\jupiter_demo\ML\Datasets-20240429T030248Z-001\Datasets\Insure_auto.csv', index_col=0)
df

        Home  Automobile  Operating_Cost
Branch
B01      400        1200          124000
B02      350         360           71000
B03      600         800          136000
B04      800        1800          219000
B05      900        1600          230000
B06      200        1000           75000
B07      120         900           56000
B08      340        1100          110000
B09      490         900          120000
B10      700         800          144000

In [26]:
df.shape

(10, 3)

In [30]:
x1 = df['Home']
x2 = df['Automobile']

x1i = df['Home'].sum()
x2i = df['Automobile'].sum()

x1i_sq = (x1**2).sum()
x2i_sq = (x2**2).sum() 


y = df['Operating_Cost']
yi = y.sum()

x1bar = x1.mean()
x2bar = x2.mean()

In [35]:
A = np.array([[x1i, x1i_sq,  x2i*x1i], [x2i, x2i*x1i, x2i_sq], [1,  x1bar,   x2bar]])
b = np.array([(x1i*yi).sum() , (x2i*yi).sum(), y.mean()])

In [37]:
x = np.linalg.solve(A,b)

array([-1.23082000e+05,  2.58258214e+02,  1.19536783e+02])